$fontPrimary: 'open sans';
$font-14px: 14px;
$font-16px: 16px;
$font-30px: 30px;
$font-24px: 24px;
@mixin itemsCenter {
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  background: #f8f8f8;
  padding-bottom: 30px;
}

.sideContainer {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.heading {
  display: flex;
  justify-content: center;
}
.paragraph {
  display: flex;
  justify-content: center;
  font-family: $fontPrimary;
  font-size: $font-14px;
  padding-left: 10px;
  color: #999898;
  font-weight: 600;
}
.icon {
  display: flex;
  justify-content: center;
}
.icon img {
  width: 30px;
}

.mainitems {
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  align-content: center;

  padding: 10px;
  flex-direction: column;
}

.items {
  @include itemsCenter();
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.items-icon {
  @include itemsCenter();
}
.items-paragraph {
  @include itemsCenter();
  padding-left: 10px;
  font-family: $fontPrimary;
  font-size: $font-14px;
  font-weight: 550;
  color: #999898;
  cursor: pointer;
}
.items:focus {
  background: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.accountPages {
  display: flex;
  // justify-content: center;
  align-items: flex-start;
  align-content: center;

  padding: 10px;
  flex-direction: column;
}

.accountPages p {
  font-size: $font-14px;
  font-family: $fontPrimary;
  font-weight: 550;
  color: #999898;
}
.items p {
  font-weight: 100;
  color: black;
}
.ant-header {
  background: #f8f8f8;
  display: flex;
  // justify-content: center;
  height: fit-content;
  width: 100%;
}
.headerContainer {
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // flex-direction: column;
  // margin: 30px;
  padding: 20px;
}

.antBreadcrumb {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: $font-14px;
  font-family: $fontPrimary;
}
.bread {
  display: flex;
  justify-content: flex-start;
}
.dashboard {
  display: flex;
  justify-content: flex-start;
  font-size: $font-14px;
  font-family: $fontPrimary;
  font-weight: 600;
  margin-top: -20px;
}
.rightSide {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.signIn {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.userIcon {
  margin-right: 20px;
}
.signinPara {
  @include itemsCenter();
  font-family: $fontPrimary;
  color: #999898;
  font-weight: 550;
}
.settings {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  margin-left: 20px;
}
.notification {
  margin-left: 20px;
}
:where(.css-dev-only-do-not-override-mxhywb).ant-layout-header {
  padding-inline: 0px;
}
.ant-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  justify-content: center;
}
.descDiv {
  display: flex;
  justify-content: center;
  background: white;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desc {
  margin-right: 40px;
}
.desc p {
  font-size: $font-14px;
  font-family: $fontPrimary;
  color: #999898;
}

.desc > .bold {
  font-size: $font-30px;
  color: black;
}
.desc > .bold sub {
  color: #52c41a;
  font-size: $font-16px;
}

.descIcon {
  display: flex;
  // justify-content: center;
  // align-content: center;
  align-items: center;
  // width: 60px;
  // height: 60px;
}

.ant-table-timeline {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-right: 20px;
  width: 800px;
}

.tableTop {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.tableHeading {
  font-size: $font-16px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.tableDesc {
  color: #999898;
  font-weight: 550;
}

.antTimeline {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  // padding: 20px;
  // padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.data-div {
  display: flex;
  justify-content: flex-start;
}

.data-img{
  width: 25px;
   margin-right: 20px;
}

.data-text{
  font-family: $fontPrimary;
  font-weight: 550;
  font-size: 12px;
  color: black;
}

@media (max-width: 770px) {
  .ant-sider {
    display: none;
  }
  .ant-header {
    background: #f8f8f8;
    display: flex;
    // justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
  }
  .headerContainer {
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
    // width: 100%;
    flex-direction: column;
    // margin: 30px;
    padding: 10px;
  }
  .antBreadcrumb {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: $font-14px;
    font-family: $fontPrimary;
    margin-left: 5px;
    margin-right: 5px;
  }
  .signinPara {
    display: none;
  }

  .rightSide {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ant-content {
    display: flex;
    justify-content: center;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    justify-content: center;
  }
  .descDiv {
    display: flex;
    justify-content: flex-start;
    background: white;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .desc {
    margin-right: 40px;
  }
  .desc p {
    font-size: $font-14px;
    font-family: $fontPrimary;
    color: #999898;
  }

  .desc > .bold {
    font-size: $font-30px;
    color: black;
  }
  .desc > .bold sub {
    color: #52c41a;
    font-size: $font-16px;
  }

  .descIcon {
    display: flex;
    justify-content: flex-end;
    // align-content: center;
    align-items: center;
    // width: 60px;
    // height: 60px;
  }

  .ant-table-timeline {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }
  .table {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100vw;
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .tableTop {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .tableHeading {
    font-size: $font-16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .tableDesc {
    color: #999898;
    font-weight: 550;
  }

  .antTimeline {
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    // padding: 20px;
    padding: 10px;
    margin-left: 18px;
    margin-right: 18px;
  }
  
  .timeLine {
    display: flex;
    flex-direction: column;
  }
}
